<div class="d-flex align-items-center justify-content-around">
  <div class="amplify-auth-container w-100">

    <!-- Login Selection Screen -->
    @if (!showAmplifyAuth) {
      <div class="login-selection-container text-center">
        <div class="login-card">
          @if (loginReason === 'waiting-room') {
            <div class="alert alert-info text-start" role="alert">
              Please sign in to join the waiting room. You'll continue automatically once you're logged in.
            </div>
          }
          <h1 class="mb-4 text-start">Log in to BC Parks</h1>
          <div class="d-flex flex-column align-items-center">
            <button
              class="btn btn-primary btn-lg login-choice-button"
              (click)="onLogin('bcsc')">
              BC Services Card <i class="fas fa-arrow-up-right-from-square ms-2"></i>
            </button>
            <div class="or-divider my-2"><span class="text-muted">or continue with</span></div>
            <button
              class="btn btn-outline-primary btn-lg login-choice-button"
              (click)="showBCParksLogin()">
              Email and password
            </button>
          </div>
          <p class="text-start mt-3 mb-0">
            Dont have an account? <a href="#" (click)="showBCParksSignUp(); $event.preventDefault()">Create an account</a>
          </p>
        </div>
      </div>
    }

    <!-- Amplify Authenticator for Sign In -->
    @if (showAmplifyAuth) {
      <div>
        <button
          class="btn btn-link mb-3"
          (click)="goBack()">
          <i class="fa fa-arrow-left me-2"></i> Back
        </button>
        @if (authKey) {
          <div [ngClass]="{ 'form-has-errors': isFormInvalid }">
            <amplify-authenticator
              [loginMechanisms]="['email']"
              [services]="services"
              [formFields]="formFields"
              [initialState]="initialState">
            <ng-template amplifySlot="sign-up-form-fields">
              <!-- Email, password and confirm password errors are reported through
                   validateCustomSignUp so Amplify renders each one under its own
                   field, the same as the fields below (#685). -->
              <amplify-sign-up-form-fields></amplify-sign-up-form-fields>
              <div class="alert alert-info password-requirements" role="alert">
                <strong>Password Requirements:</strong>
                <ul class="mb-0">
                  <li>At least 8 characters</li>
                  <li>At least one uppercase letter</li>
                  <li>At least one lowercase letter</li>
                  <li>At least one number</li>
                  <li>At least one special character</li>
                </ul>
              </div>
              <div class="section-heading">Contact Information</div>
              <div class="solid-divider"></div>
              <div class="row">
                <div class="col-md-6">
                  <amplify-text-field
                    #givenNameField
                    label="Given name"
                    name="given_name"
                    autocomplete="false"
                    placeholder=""
                    type="text"
                    [required]="true"
                    (change)="validateGivenName($event)">
                  </amplify-text-field>
                  @if (givenNameError) {
                    <div class="form-error">
                      {{ givenNameError }}
                    </div>
                  }
                </div>
                <div class="col-md-6">
                  <amplify-text-field
                    #familyNameField
                    label="Surname"
                    name="family_name"
                    autocomplete="false"
                    placeholder=""
                    type="text"
                    [required]="true"
                    (change)="validateFamilyName($event)">
                  </amplify-text-field>
                  @if (familyNameError) {
                    <div class="form-error">
                      {{ familyNameError }}
                    </div>
                  }
                </div>
              </div>
              

              <amplify-text-field
                label="Street Address"
                name="custom:streetAddress"
                autocomplete="false"
                placeholder=""
                type="text"
                [required]="true"
                (change)="validateStreetAddress($event)">
              </amplify-text-field>
              @if (streetAddressError) {
                <div class="form-error">
                  {{ streetAddressError }}
                </div>
              }
              <div class="row">
                <div class="col-md-6">
                  <amplify-text-field
                    label="City"
                    name="custom:city"
                    autocomplete="false"
                    placeholder=""
                    type="text"
                    [required]="true"
                    (change)="validateCity($event)">
                  </amplify-text-field>
                  @if (cityError) {
                    <div class="form-error">
                      {{ cityError }}
                    </div>
                  }
                </div>
                <div class="col-md-6">
                  <amplify-text-field
                    label="Province"
                    name="custom:province"
                    autocomplete="false"
                    placeholder=""
                    type="text"
                    [required]="true"
                    (change)="validateProvince($event)">
                  </amplify-text-field>
                  @if (provinceError) {
                    <div class="form-error">
                      {{ provinceError }}
                    </div>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <amplify-text-field
                    label="Postal Code"
                    name="custom:postalCode"
                    autocomplete="false"
                    placeholder=""
                    type="text"
                    [required]="true"
                    (change)="validatePostalCode($event)">
                  </amplify-text-field>
                  @if (postalCodeError) {
                    <div class="form-error">
                      {{ postalCodeError }}
                    </div>
                  }
                </div>
                <div class="col-md-6">
                  <amplify-text-field
                    label="Country"
                    name="custom:country"
                    autocomplete="false"
                    placeholder=""
                    type="text"
                    [required]="true"
                    (change)="validateCountry($event)">
                  </amplify-text-field>
                  @if (countryError) {
                    <div class="form-error">
                      {{ countryError }}
                    </div>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <amplify-text-field
                    label="Mobile phone"
                    name="custom:mobilePhone"
                    autocomplete="false"
                    placeholder=""
                    type="tel"
                    [required]="true"
                    (change)="validateMobilePhone($event)">
                  </amplify-text-field>
                  @if (mobilePhoneError) {
                    <div class="form-error">
                      {{ mobilePhoneError }}
                    </div>
                  }
                </div>
                <div class="col-md-6">
                  <amplify-text-field
                    label="Home Phone Number (Optional)"
                    name="custom:secondaryNumber"
                    autocomplete="false"
                    placeholder=""
                    type="tel"
                    [required]="false"
                    (change)="validateHomePhone($event)">
                  </amplify-text-field>
                  @if (homePhoneError) {
                    <div class="form-error">
                      {{ homePhoneError }}
                    </div>
                  }
                </div>
              </div>
              
              <div class="section-heading">Vehicle Information (Optional)</div>
              <div class="solid-divider"></div>
              <amplify-text-field
                label="License Plate"
                name="custom:licensePlate"
                autocomplete="false"
                placeholder=""
                type="text"
                [required]="false">
              </amplify-text-field>
              <amplify-text-field
                label="Province of Vehicle Registration"
                name="custom:vehicleRegLocale"
                autocomplete="false"
                placeholder=""
                type="text"
                [required]="false">
              </amplify-text-field>
              <input
                type="hidden"
                name="custom:pwUpdate"
                [value]="currentDate">
              <div class="collection-notice">
                <div class="section-heading">Information collection</div>
                <hr>
                <p>
                  This information is collected by BC Parks, under Section 26(c) and 26(e) of the
                  Freedom of Information and Protection of Privacy Act for the purpose of making and
                  maintaining a reservation at a day use location and to evaluate the reservation
                  system and process.
                </p>
                <p>
                  Questions regarding this collection can be directed to
                  <a href="mailto:parkinfo@gov.bc.ca">parkinfo&#64;gov.bc.ca</a> or Information Officer,
                  BC Parks, PO BOX 9351 STN PROV GOVT, Victoria, BC, V8W 9V1, Canada.
                </p>
              </div>
              @if (summaryError) {
                <div class="alert alert-danger" role="alert">
                  <strong>{{ summaryError }}</strong>
                </div>
              }
            </ng-template>
            <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
              <button (click)="signOut()">Sign Out</button>
            </ng-template>
            </amplify-authenticator>
          </div>
        }
      </div>
    }

  </div>
</div>


